/* App.css */
html, body {
  height: 100%;
  width:100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: block;
  border: 10px solid #008500;
  box-sizing: border-box;
}

#root {
  user-select: none;
  height: 100%;
}

#whiteboard {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #f5faff;
  background-image: radial-gradient(#000000 1.3px, #f5faff 1.3px);
  background-size: 26px 26px;
  /* https://www.magicpattern.design/tools/css-backgrounds */
}
