/* App.css */
html, body {
  height: 100%;
  width:100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: block;
  border: 10px solid #008500;
  box-sizing: border-box;
}

#root {
  user-select: none;
  height: 100%;
}
