#cute_cursor {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  user-select: none;

  &.fade {
    animation: cute-cursor-fade 1s linear 3s forwards;
  }

  &.dot {
    translate: -50% -50%;
    border-radius: 50%;
  }

  svg {
    display: block;
  }
}

@keyframes cute-cursor-fade {
  from { opacity: 1; }
  to   { opacity: 0; }
}

#root_wrapper:has(#toolbar:hover) #cute_cursor.dot {
  display: none;
}
