:root {
  --toolbar-width: 70px;
  --toolbar-height: 400px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--toolbar-width);
  height: var(--toolbar-height);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.toolbar__body,
.side-view-body,
.toolbar__container {
  display: flex; 
  height: calc(100% - 80px);
}

.toolbar__body,
.side-view-body {
  width: 100%;
  position: absolute;
  transition: .3s;
  justify-content: center;
  align-items: center; 
}

.side-view-body {
  left: 70px;
}

.toolbar.tool-slide .toolbar__body,
.toolbar.color-slide .toolbar__body,
.toolbar.width-slide .toolbar__body {
  left: -70px;
}

.toolbar__body,
.toolbar.tool-slide #toolGroup,
.toolbar.color-slide #colorGroup, 
.toolbar.width-slide #widthGroup {
  left: 0;
}

.toolbar__header,
.toolbar__bottom {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.toolbar__buttons {
  display: flex;
  justify-content: space-between;
}

.toolbar__buttons button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  width: 20px;
  height: 20px;
}

.toolbar__buttons button svg {
  pointer-events: none;
}

.toolbar__container {
  flex-direction: column;
  justify-content: space-between;
}

.toolbar__items {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar__items li {
  margin: 5px 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar__items li.active {
  background-color: #fff;
  border-radius: 5px;
}

.toolbar__items li button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toolbar__items li button:focus {
  outline: none;
}

.toolbar__items li button svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.toolbar__items > div {
  background-color: #4c4c4c;
  width: 80%;
  height: 2px;
  margin: 5px 0;
}

.draglines {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  cursor: move;
}

.draglines div {
  border: 1px solid #000;
  border-radius: 15px;
}

.draglines div:nth-child(1) {
  width: 75%;
}

.draglines div:nth-child(2) {
  width: 85%;
}

.draglines div:nth-child(3) {
  width: 95%;
}

.rotated {
  transform: rotate(180deg);
}

#colorPicker {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
}

#colorPicker::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: inherit;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.toolbar .toolbar__width-button {
  width: 28px;
  height: 28px;
  border: 2px solid #000;
  border-radius: 50%;
}

.toolbar__width-button > div {
  height: 18px;
  background-color: #000;
  transform: rotate(45deg);
  border-radius: 5px;
}

.horizontal {
  width: var(--toolbar-height);
  height: var(--toolbar-width);
  display: flex;
}

.horizontal .toolbar__buttons {
  flex-direction: column-reverse;
}

.horizontal .toolbar__header,
.horizontal .toolbar__bottom {
  height: var(--toolbar-width);
  padding: 0 5px;
  align-items: center;
}

.horizontal .draglines {
  height: 75%;
  width: 15px;
  flex-direction: row;
  cursor: move;
}

.horizontal .draglines div {
  width: 0;
}

.horizontal .draglines div:nth-child(1) {
  height: 75%;
}

.horizontal .draglines div:nth-child(2) {
  height: 85%;
}

.horizontal .draglines div:nth-child(3) {
  height: 95%;
}

.horizontal .toolbar__container {
  width: 100%;
  position: relative;
  justify-content: center;
}

.horizontal .toolbar__items {
  margin: 0;
  flex-direction: row;
}

.horizontal .toolbar__items li {
  margin: 0 5px;
}

.horizontal .toolbar__items > div {
  height: 26px;
  width: 2px;
  margin: 0 5px;
}

.horizontal .toolbar__body,
.horizontal .side-view-body,
.horizontal .toolbar__container {
  height: 100%;
}

.horizontal .side-view-body {
  top: 70px;
  left: 0;
}

.horizontal.toolbar.tool-slide .toolbar__body,
.horizontal.toolbar.color-slide .toolbar__body,
.horizontal.toolbar.width-slide .toolbar__body {
  top: -70px;
  left: 0;
}

.horizontal .toolbar__body,
.horizontal.toolbar.tool-slide #toolGroup,
.horizontal.toolbar.color-slide #colorGroup, 
.horizontal.toolbar.width-slide #widthGroup {
  top: 0;
}